<% provide(:title, "Sign Up") %>

<%= stylesheet_link_tag "sign-up" %>

<div id="tf-team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2><strong>Sign Up!</strong></h2>
        <div class="line">
          <hr>
        </div>
      </div>
      <div class="login">
        <div class="container">
          <div class="form">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

            <div class="field">
                <%= f.text_field :firstname,  :placeholder => "First Name", :type => "text", :required => true %>
              </div>

              <div class="field">
                <%= f.text_field :lastname,  :placeholder => "Last Name", :type => "text", :required => true %>
              </div>

              <div class="field">
                <%= f.text_field :username,  :placeholder => "Username", :type => "text", :required => true %>
              </div>

              <div class="field">
                <%= f.email_field :email,  :placeholder => "Email", :type => "email", :required => true %>
              </div>

              <% if f.object.password_required? %>
                <div class="field">
                  <%= f.password_field :password, :placeholder => "Password (6 characters minimum)", autocomplete: "off", :type => "password", :required => true %>
                </div>

                <div class="field">
                  <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation ", autocomplete: "off", :type => "password", :required => true %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Sign up" ,class: "btn-submit" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <ul class="footer-social">
      <li><%= button_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :class => "FacebookButton", :method => :get  %><li>
      <li><%= button_to "Sign up with Twitter", user_omniauth_authorize_path(:twitter), :class => "TwitterButton", :method => :get  %></li>
      <li><%= button_to "Sign Up with Google+", user_omniauth_authorize_path(:google_oauth2), :class => "GoogleButton", :method => :get  %></li>
    </ul>
    <%= render "devise/shared/links" %>
  </div>
</div>
