<div class="col-md-4">
    <div class="yt_video thumbnail" onclick="document.location='<%= video_path(video.id)%>'" style="cursor: pointer;">
      <div class="text-center">
        <p><%= video.private? ? "(Private)" : "(Public)" if @display_private_status%></p>
        <div class="panel-heading"><h4><%= truncate video.title, length: 65 %></h4></div> 
      </div>
      <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,), video_path(video.id), target: '_self' %>
      <div class="caption">

        <p><strong>Created:</strong> <%=video.created_at.strftime('%B %-d %Y') %></p>
        <p><strong>Last Updated:</strong> <%=video.updated_at.strftime('%B %-d %Y') %></p>

      <% unless video.subject.default_subject? %>
        <p><strong>Subject: </strong><%= link_to video.subject.subject, subject_path(video.subject_id) %></p>
      <% else %>
        <p><strong>Subject: </strong>None</p>
      <% end %>

      <% if user_signed_in? && video.user_id == current_user.id %>
        <p><strong>Created by:</strong> <i>You!</i></p>
        <div class = "trash_and_edit">
          <%= link_to 'Edit' , edit_video_path(video.id), :class=>"glyphicon glyphicon-edit", :id=>'edit' %> |
          <%= link_to 'Delete', video, method: :delete, data: { confirm: 'Are you sure?'}, :class=>"glyphicon glyphicon-trash" %>
        </div>
      <% else %>
        <p><strong>Created by:</strong> <i><%= User.find(video.user_id).username %></i></p>
        <div id="extra-margin" style="margin-bottom: 30px;"></div>
      <% end %>
      </div>
    </div>
  </div>