<% provide(:title, @video.title) %>

<div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <h1 class="cover-heading"><p class="text-center"><%= @video.title %></p></h1>
          <div class="text-center">
            <div id="uid"><%= @video.uid %></div>
            <p>Created By: <%= @video_user ? @video_user.username : "You" %></p>
            <div class="text-center">
            <% if current_user && @video.user_id == current_user.id %>
              <%= link_to "Edit", edit_video_path, :class=>"btn btn-lg btn-default" %>
              <%= link_to 'Delete', @video, method: :delete, data: { confirm: 'Are you sure?'},:class=>"btn btn-lg btn-default" %>
            <% end %>
            </div><br>
          </div>
            
          <div class="container-fluid">

              <!-- LEFT side-->
              <div class="col-sm-6">
                <div id="player"></div>
                <h3><strong>Subject: </strong><%= link_to @video.subject.subject, subject_path(@video.subject.id) %></h3>
              </div>

              <!-- RIGHT SIDE -->
              <div id="right_side_show" class="col-sm-6">
                <div class="col-lg-12">
              <% if @video.note? %>
                  <p>
                    <div id="note_area_show">
                      <%=raw @video.note %>
                    </div>
                  </p>
              <% else %>
                  <p class="text-center"><h2><i>No Notes</i></h2></p>
              <% end %>    
                </div>
              </div>

            <% if @video.note? %>
              <div class="col-lg-6 text-center" style="margin-top: 25px">
                <span><strong>Save Notes To My Computer</strong></span>&nbsp;
                <button id="create_show" type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-save"></span>
                </button>
                <a download="<%= @video.title %>.txt" id="downloadlink" style="display: none">Download</a>
              </div>
            <% end %>

            </div><br>

          <% if current_user %>
            <%= render 'comments/form' %>
          <% end %> 

            <h4 class="text-center" id="comment_count">Comments (<%= @comments.count %>)</h4>
            <div class="panel panel-default" id="comments">
              <div class="panel-body">
                <ul class="media-list">
                  <%= render @comments %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "show" %>