<%= form_for(@subject) do |f| %>
    <%= render 'shared/errors', object: @subject %>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Upload Image</label>
                <div class="field"><%= f.file_field :image %></div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Subject Title</label>
                  <div class="field">
                    <%= f.text_field :subject,:class=>"form-control"  %>
                  </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Description</label>
                <div class="field">
                  <%= f.text_area :description, :class=>"form-control" %>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Private</label>
                <style type="text/css">
                  input[type=checkbox]
                  {
                    /* Double-sized Checkboxes */
                    -ms-transform: scale(2); /* IE */
                    -moz-transform: scale(2); /* FF */
                    -webkit-transform: scale(2); /* Safari and Chrome */
                    -o-transform: scale(2); /* Opera */
                    padding: 10px;
                  }
                </style>
                <div class="field">
                  <%= f.check_box :private %>
                </div>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="actions">
                <a href="/subjects/<%= @subject.id%>" class="btn btn-success btn-lg" >Cancel</a>
                <%= f.submit "Submit", :class=> "btn btn-success btn-lg" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>