<div class="col-md-4">
    <div class="yt_video thumbnail" onclick="document.location='<%= subject_path(subject.id)%>'" style="cursor: pointer;">
      <!-- image -->
      <h3><%= subject.subject %></h3>
      <div class="caption">
      <% if subject.description? %>
        <p><%= truncate subject.description, length: 150 %></p>
      <% else %>
        <p><i>No Description</i></p>
      <% end %>
      <% if user_signed_in? && current_user.id == subject.user_id && !subject.default_subject? %>
        <p>Created By: You</p>
        <%= link_to 'Edit', edit_subject_path(subject),:class=>"glyphicon glyphicon-edit"%> |
        <%= link_to 'Delete', subject, method: :delete, data: { confirm: 'Are you SURE? Removing this subject will delete ALL your videos under this subject!'},:class=>"glyphicon glyphicon-trash" %>
      <% else %>
        <p>Created By: <%= User.find(subject.user_id).username %></p>
      <% end %>
      </div>
    </div>
  </div>