<% provide(:title, "#{@subject_user.username}'s' #{@subject.subject} Playlist") %>

<div class="container">
    <div class="row">
      <div class="text-center col-lg-12">
      <% if user_signed_in? && current_user.id == @subject.user_id %>
        <h1><b>Your <%= @subject.subject %> Playlist</b></h1>
      <% else %>
        <h1><b><%= @subject_user.username %>'s <%= @subject.subject %> Playlist</b></h1>
      <% end %>
        <p><b><%= pluralize @videos.count, "Videos" %> Total</b></p>
        <%= image_tag @subject.picture? ?  @subject.picture.url : "subject-default.jpg", style: "height: 100px;" %>
        <p><lead><i style="font-size:20px;"><%= "Description: #{@subject.description}" if !@subject.description.empty? %></i></lead></p>
      <% if user_signed_in? && current_user.id == @subject.user_id && !@subject.default_subject? %>
        <p>
          <%= link_to 'Edit', edit_subject_path(@subject),:class=>"glyphicon glyphicon-edit" %> 
          |
           <%= link_to 'Delete', @subject, method: :delete, data: { confirm: 'If you delete this subject, all videos in it will be moved to your Uncategorized subject'}, :class=>"glyphicon glyphicon-trash" %>   
        <p>
      <% end %>
      
      <% if user_signed_in? && current_user.id == @subject.user_id %>
        <div class = "add_video">
          <%= link_to 'Add Video', new_video_path(subject_id: @subject.id), class: 'btn btn-primary btn-lg' %><br><br>
        </div>
      <% end %> 
      </div>
    </div>
  </div>

  <div class="container">
  <% if !@videos.empty? %>
    <%= form_tag subject_path(@subject), method: :get do %>
      <%= render 'shared/sort_selection' %>
    <% end %><br>

    <div class="row">
      <%= render @videos %>
    </div>

  <% else %>  
    <div class="row">
      <div class="text-center">
        <h1>No Videos</h1>
      </div>
    </div>
  <% end %>
  </div>