<% provide(:title, "Log In") %>

<%= stylesheet_link_tag "log-in" %>



<!-- Team Page==========================================-->
<div id="tf-team" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
      <h2><strong>Login</strong></h2>
        <div class="line">
          <hr>
        </div>
      </div>

    <div class="login">
      <div class="container">
        <div class="form">
          <p class ="page-scroll" ><%= notice %></p>
          <p class ="page-scroll" ><%= alert %></p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, :placeholder => "Email", autofocus: true %>
            </div>

            <div class="field">
              <%= f.password_field :password, :placeholder => "Password", autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            
            <div class="actions">
              <%= f.submit "Log in", class: "btn-submit" %>
            </div>
          <% end %>
        </div>
        <br>
        <ul class="footer-social">
          <li><%= button_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "FacebookButton", :method => :get  %><li>
          <li><%= button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), :class => "TwitterButton", :method => :get  %></li>
          <li><%= button_to "Sign in with Google+", user_omniauth_authorize_path(:google_oauth2), :class => "GoogleButton", :method => :get  %></li>
        </ul>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
</div>

