<!DOCTYPE html>
<html>
<head>
  <title>VidEdu | <%= yield(:title) %></title>

  <%= favicon_link_tag 'favicon.ico' %>

  <!-- Meta Tags -->
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="VidEdu: Take notes side by side with your favorite videos.">

  <!-- STYLESHEETS -->
  <!-- Bootstrap CDN-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- FontAwesome CDN -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Voltaire">
  <%= yield :head %>
  <!-- Custom -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!-- Javascript Files -->
  <%= javascript_include_tag 'application' %>
</head>
<body>
<% if !@custom_nav%>
  <%= render 'shared/nav' %>
<% end%>

  <%= yield %> 

  <%= render 'shared/footer' %>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= yield :body %>
</body>
</html>



