<!DOCTYPE html>
<html>
<head>
  <title>VidEdu | <%= yield(:title) %></title>

  <%= favicon_link_tag 'favicon.ico' %>

  <!-- Meta Tags -->
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="VidEdu: Take notes side by side with your favorite videos.">

  <!-- Stylesheets -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= render 'videos/glyphicon_links' %>

  <!-- Javascript Files -->
  <%= javascript_include_tag 'application' %>

    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<% if !@custom_nav%>
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Voltaire);

    #button_search{
      width: 25%;
    }
    #white{
      color: white;
    }
    #orange{
      color: orange;
    }
    #tf-menu{
      background: #222222;
      border-color: #222222;
      border-radius: 0px;
      margin-bottom: 0px;
      font-size: 12px;
      text-transform: uppercase;
      font-family: 'Voltaire',Arial,sans-serif;
      letter-spacing: 2px;
    }
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:visited{
      color: white;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active{
      color: orange;
    }
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
     }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
      background-image:none !important;
      color: orange;
      background-color: #222222;
    }
    .dropdown-menu{
      background-color: #222222;
    }
    .dropdown-menu > li > a{
      color: white;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      background-image:none !important;
      background-color: #222222;
      color: orange;
    }
  </style>

  <%= render 'shared/nav' %>
<% end%>

  <%= yield %> 

  <%= render 'shared/footer' %>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>



